//Sharer

.social-share {
	overflow:hidden;
	margin:6px 0;
	.sharebutton {
		a {
			display: block;
			width:50px;
			padding:6px;
			color:white;
			margin-right:6px;
			float:left;
			transition:all ease-in 0.2s;
			margin-bottom:6px;
			border-radius:4px;
			font-size:1.2rem;
			
			i {
				//margin-right:6px;
				font-size:18px;
			}
			
			&.sharer__facebook {
				background-color:@fbblue;
				width:50px;
				&.with-shares {
					width:68px;
					i {
						margin-right:6px;
					}
				}
			}

			&.sharer__twitter {
				background-color:@twtblue;
				width:50px;
				text-align:center;
			}

			&.sharer__whatsapp {
				background-color:@whatsapp;
				text-align:center;
				width:40px;
				padding:5px 3px;
				
				i {
					font-size:20px;
				}
			}

			&.sharer__telegram {
				background-color:@telegram;
				text-align:center;
				width:40px;
				padding:5px 3px;
			}

			&:hover {
				text-decoration:none;
				border-radius:0;
        border-bottom-width:0;
			}
		}
	}
}
