// Cargador c80

//Artículo single
body.single {
	.contenedor-estandar {
		position: relative;
		
		.deslizable {
			transition:left linear 0.25s;	
		}

		&.con-c80-rel {
			overflow:hidden;
			.deslizable {
				left:@loaderwidth;
			}
		}
	}
}

.c80-rels {
	transition:all linear 0.25s;
	background-color:white;
	padding:12px;
	.make-md-column(4);
	
	box-shadow:@stdshadow;
	h2 {
		font-size:2.2rem;
		margin:-12px -8px 12px -8px;
		font-weight:normal;
		background-color:@naranjo;
		padding:12px;
		color:white;
	}

	&.enabled {
		left:0;
		opacity:1;
	}
	&.disabled {
		left:-@loaderwidth;
		opacity:0;
	}

	.tab-pane {
		padding:12px;
		border-width:0 1px 1px 1px;
		border-style:solid;
		border-color:#ccc;
	}

	.textos-c80-mini {
		max-height:550px;
		overflow:scroll;
		h3 {
			font-size:1.8rem;
		}
		h4 {
			font-size:1.6rem;
		}
		.lc {
			font-family:@serif;
			font-size:1.6rem;
				a {
				color:@stdtxt;
				}
			}
		}

	.texto-c80-rel {
		max-height:550px;
		overflow:scroll;
		.constarticle {
			padding-bottom:12px;
			margin-bottom:12px;
			border-bottom:1px dotted #ccc;
		}
		.lc {
			font-family:@serif;
			font-size:1.6rem;
			a {
				color:@stdtxt;
			}
		}
	}
}