div.relbox {
	p.hrel {
		font-weight:normal;
	}

	a.relart {
		display: inline-block;
		padding:3px 6px;
		font-size:12px;
		background-color:@naranjo;
		color:white;
		border-radius:4px;
		margin-right:4px;
		&:hover {
			text-decoration:none;
			background-color:lighten(@azul, 10%);
		}
	}
}

span.nrel {
		display: inline-block;
		padding:3px 6px;
		background-color:#f0f0f0;
		margin-right:6px;
	}