// Cargador c80

//Artículo single
body.single {
	.contenedor-estandar {
		position: relative;
		
		.deslizable {
			transition:left linear 0.25s;	
		}

		&.con-c80-rel {
			overflow:hidden;
			.deslizable {
				left:@loaderwidth;
			}
		}
	}
}

.c80-rels {
	transition:all linear 0.25s;
	background-color:white;
	padding:12px;
	.make-md-column(4);
	
	box-shadow:@stdshadow;
	h2 {
		font-family:@serif;
		font-size:1.6rem;
		margin:-12px -15px 12px -15px;
		font-weight:normal;
		background-color:@constitucion;
		padding:12px;
		color:white;
	}

	h4 {
		font-family:@serif;
		color:@constitucion;
		font-size:1.6rem;
		line-height:1.4em;
	}

	&.enabled {
		left:0;
		opacity:1;
	}
	&.disabled {
		left:-@loaderwidth;
		opacity:0;
	}

	.tab-pane {
		padding:12px;
		border-width:0 1px 1px 1px;
		border-style:solid;
		border-color:#ccc;
	}

	.textos-c80-mini {
		max-height:550px;
		overflow-y:scroll;
		@media screen and (max-width:@screen-sm) {
			max-height:inherit;
		}
		
		.constarticle {
			margin-bottom:12px;
		}
		
		h3 {
			font-size:1.6rem;
			line-height:1.5em;
		}

		h5, h6 {
			a {
				color:@constitucion;
				font-family: @serif;
			}
		}
		
		.lc {
			font-family:@serif;
			font-size:1.6rem;
			padding:6px;
			margin-bottom:6px;
				a {
				color:@stdtxt;
				}
			}
		}

	.texto-c80-rel {
		max-height:550px;
		overflow-y:scroll;
		.constarticle {
			padding-bottom:12px;
		}
		.lc {
			font-family:@serif;
			font-size:1.6rem;
			a {
				color:@stdtxt;
			}
		}
	}
}