.archive-items {
	.make-md-column(9);
}

.articulo-archivo {
	overflow:hidden;
	margin-bottom:12px;
	background-color:white;
	
	img {
		float:left;
		margin-right:12px;
	}

	h2 {
		font-family:@sans;
		font-weight:normal;
		margin:0;
	}

	p.top-meta {
		margin:12px 0 0 0;
	}

}