/*  Comments */

div.comments {

	margin-top:24px;
	
	h3 {
		margin-top:0;
		font-family:@serif;
	}

	ul.commentlist {
		margin:0;
		padding:0;
		
		li {
			list-style:none;
		}
		
		li article.comment-body {
			padding:0 0 12px 0;
			background-color:white;
			margin:0 0 12px;
			list-style:none;
			box-shadow:@stdshadow;
			clear:both;
			overflow:hidden;
			font-family:@sans;

			a.url {
				font-family:@serif;
			}

			.comment-content {
				padding:12px;
			}
			.comment-meta {
				background-color:#f0f0f0;
				padding:12px;
			}
			.comment-author {
				b {
					font-weight:normal;
					font-size:18px;
					color:darken(@calipso, 20%);
				}
				img {
					border-radius:50%;
					display:none;
				}
			}

			time {
				color:#555;
				text-transform:uppercase;
				font-size:12px;
			}

			div.reply a {
				display:block;
				float:right;
				margin:0 12px 12px;
				.btn;
				background-color:@opinion;
				color:white;
			}
		}
	}
}

div#respond {
	background-color:white;
	padding:12px;
	margin-bottom:12px;
	.form-group;
	
	h3#reply-title {
		:before {
			content:'\f27b';
			font-family:'FontAwesome';
		}	
	}

	p.logged-in-as {
		.alert;
		.alert-info;
	}

	label {
		display:block;
		font-weight:normal;
		font-size:1.6rem;
		
	}

	input#author,
	input#email {
		.form-control;
		max-width:260px;
	}

	textarea {
		.form-control;
		min-height:150px;
	}

	input#submit {
		.btn;
		background-color:@constitucion;
		color:white;
	} 
}