//Contenidos
.capitulo-constitucion {
	header.header-capitulo {
		max-width:75%;
		h1 {
			font-size:2.7rem;
			font-weight:normal;
			margin-bottom:18px;
			overflow:hidden;
			color:darken(@naranjo, 10%);
			line-height:1.4em;
			.txt {
				display:inline-block;
				float:left;
				width:530px;
			}

			span.capsubt {
				text-transform:uppercase;
			}
			
			span.titlename {
				font-size:2.5rem;
			}

			i {
				float:left;
				font-size:4.6rem;
				margin-right:12px;
				margin-top:12px;
			}
		}
	}
}

div.fuente-constitucion {
	.make-row();
	div.wrap {
		.make-md-column(8);
		text-align:center;
		.alert;
		.alert-warning;
		.make-md-column-offset(2);
	}
}

.articulo-constitucion > div,
.sub-article
 {
	box-shadow:@stdshadow;
	background-color:white;
	header {
		background-color: fade(@naranjo, 20%);
		border-top:2px solid @naranjo;
		padding:12px 12px 3px 12px;
		h1, h2 {
			font-family:@sans;
			font-size:2rem;
			font-weight:normal;
			margin-top:0;
			color:darken(@naranjo, 25%);
			margin-bottom:0;
			line-height:1.6em;
		}
	}

	p.afterp {
		display:none;
	}

	p.temas {
		margin-top:12px;
	}

	.main-content,
	.sub-content
	 {
		font-family:@serif;
		font-size:1.8rem;
		padding:@stdpad;
		a {
			color:@gris-oscuro;
			&:hover {
				text-decoration:none;
			}
		}
	}
}

.grupo-articulo {
	padding-bottom:12px;
	margin-bottom:12px;
	.clearfix();
}

aside.navegador-relacionados {
	box-shadow: @stdshadow;
	background-color:white;
	> div {
		padding:@stdpad;
	}
	h4 {
		font-family:@sans;
		margin-top:0;
		ul {
			li {
				font-family:@sans;
			}
		}
	}
}

.con-rel {
	p {
		.bg-warning;
	}
}

.navegador-c80 {
	.make-md-column(3);
	&.affix {
		top:60px;
		position: fixed;
	}
	
	&.affix-bottom {
		
	}

	text-align:left;
	h2 {
		font-weight:normal;
		font-size:2rem;
	}
}

ul.items-constitucion {
	margin:24px 0 0 0;
	padding:12px;
	font-family:@sans;
	color:#555;
	
	ul.articulos {
		display:none;
	}
	
	a {
		color:#555;
		&:hover {
			text-decoration:none;
		}
	}

	li {
		margin:0;
		padding:0;
		list-style:none;
		ul {
			margin:0;
			padding:0;
			li {
				list-style:none;
			}
		}
	}
	a.capitulo-lista {
		text-transform:uppercase;
		font-size:1.3rem;
		padding-bottom:3px;
		margin:12px 0 3px;
		border-bottom:1px solid #ccc;
		display:block;
	}
}


a.c80_p {
	cursor:pointer;
	&.highlight {
		p {
			background-color:fade(@amarillo, 20%);
		}
	}
}

//Página principal de la constitución

section.contenedor-constitucion-box {
	.make-md-column(12);
	
	h1.mainc80title {
		color:@naranjo;
	}
	
	.capitulo-constitucion-box {
		.make-md-column(3);
		
		div.wrap {
			padding:6px 12px 12px;
			min-height:200px;
			background-color:white;
			border-top:2px solid @naranjo;
			margin:6px 0 6px;
		}

		.header-capitulo {
			h1 {
				font-size:2.2rem;
				margin-top:0;
				span.titlename {
					font-size:1.6rem;
					text-transform:uppercase;
				}
			}
		}	
	}
}