.columna-estandar {
	img.avatar {
		float:left;
		margin-right:24px;
		border-radius:50%;
	}

	.imgobj.img {
		@media screen and (max-width:@screen-sm) {
			margin:0 -12px;
		}
		
	}

	div.info-columna {
		margin:6px 0 12px 0;
	}

	.contenido {
		clear:left;
	}

	.autor-card {
		padding:12px;
		overflow:hidden;
		margin:0 -12px -12px -12px;
		p.autor {
			font-size:1.6rem;
			font-weight:700;
			margin:0;
			font-family:@serif;
		}
	}
}