.archive-items {
	.make-md-column(9);
}

h1.archive-title {
	margin-bottom:24px;
	margin-top:0;
	@media screen and (max-width:@screen-sm) {
		font-size:2rem;
		margin:12px 0 12px 12px;
	}
}

.articulo-archivo {
	overflow:hidden;
	margin-bottom:12px;
	background-color:white;
	box-shadow: @stdshadow;
	
	img {
		float:left;
		margin-right:12px;
		@media screen and (max-width:@screen-sm) {
			margin-left:-36px;
		}
		
	}

	h2 {
		font-family:@heading;
		font-weight:normal;
		margin:0;
		@media screen and (max-width:@screen-sm) {
			font-size:1.8rem;
		}
	}

	p.top-meta {
		margin:12px 0 0 0;
	}

}

.post-type-archive-columnas {
	article.articulo-archivo {
		max-height:160px;
		border-radius:80px 0 0 80px;
		img {
			margin-top:0;
			border-radius:50%;
		}
	}
}

.page-numbers {
	.pagination;
	border-radius:0;
}