// Responsive basic stuff

@media screen and (max-width:@screen-sm) {
		header#header-sitio {
			h1 {
				float:left;
				margin-left:12px;
			}

			h2 {
				float:left;
				max-width:120px;
				font-size:1.3rem;
				margin-top:16px;
			}

		.navbar-toggle {
			margin-top:18px;
			border-color:fade(@oscuro, 75%);
			padding:6px;
				i {
					font-size:22px;
					color:fade(@oscuro, 75%);
				}
			&:hover {
				background-color:fade(@oscuro, 75%);
				color:white;
				i {
					color:white;
				}
			}

		}
	}
}



#nav-mobile {
	background-color:white;
	color:@texto;
	display:none;
		a, i {
			color:@oscuro;
		}

	a {
		border-bottom:1px solid gainsboro;
	}

	a:hover {
		background-color:transparent;	
	}



	.navbar-collapse {
		border-color:@azulvega;
	}

	.navbar-collapse.collapse.in {
		margin-top:6px;
	}

}

@media screen and (max-width:@screen-sm) {
	
	#nav-mobile {
		display:block;
		ul.navbar-nav {
			margin-top:0;
		}
		li.link-noticias,
		li.link-opinion,
		li.link-constitucion {
			i {
				color:white;
			}
			a {
				color:white;
				border-bottom:0;
				text-transform:uppercase;
				letter-spacing:2px;
			}
		}
		li.link-noticias {
			a {
				background-color:@noticia;
			}
		}
		li.link-opinion {
			a {
				background-color:@opinion;
			}
		}
		li.link-constitucion {
			a {
				background-color:@constitucion;
			}
		}
	}

	section.noticias article.item-1 {
		div.img {
			.top-info {
				position: relative;
				.over-title {
					color:#333;
					text-shadow:none;
					a {
						color:@azul-titulo;
					}
				}
				h1 {
					font-size:2.6rem;
					a {
						color:@azul-titulo;
					}
				}
				h1, p.autor {
					text-shadow:none;
				}
			}
		}
	}

	.breadcrumb {
		display:none;
	}

	#footer-sitio {
		display:none;
	}

	.temas-header {
		display:none;
	}

	div.img {
		img {
			margin:0;
			max-width:100%;
			height:auto;
		}
	}

}