//Contenidos
.capitulo-constitucion {
	header {
		h1 {
			font-size:2.4rem;
			font-weight:normal;
			margin-bottom:12px;
		}
	}
}


.articulo-constitucion > div,
.sub-article
 {
	box-shadow:@stdshadow;
	background-color:white;
	header {
		background-color: fade(@amarillo, 30%);
		padding:12px 12px 3px 12px;
		h1, h2 {
			font-family:@sans;
			font-size:2rem;
			font-weight:normal;
			margin-top:0;
			color:darken(@amarillo, 15%);
			margin-bottom:0;
		}
	}

	p.afterp {
		display:none;
	}

	p.temas {
		margin-top:12px;
	}

	.main-content,
	.sub-content
	 {
		font-family:@serif;
		font-size:1.8rem;
		padding:@stdpad;
		a {
			color:@gris-oscuro;
			&:hover {
				text-decoration:none;
			}
		}
	}
}

.grupo-articulo {
	padding-bottom:12px;
	margin-bottom:12px;
	.clearfix();
}

aside.navegador-relacionados {
	box-shadow: @stdshadow;
	background-color:white;
	> div {
		padding:@stdpad;
	}
	h4 {
		font-family:@sans;
		margin-top:0;
		ul {
			li {
				font-family:@sans;
			}
		}
	}
}

.con-rel {
	p {
		.bg-warning;
	}
}

.navegador-c80 {
	.make-md-column(3);
	&.affix {
		top:60px;
		position: fixed;
	}
	
	&.affix-bottom {
		
	}

	text-align:left;
	h2 {
		font-weight:normal;
		font-size:2rem;
	}
}

ul.items-constitucion {
	margin:24px 0 0 0;
	padding:12px;
	font-family:@sans;
	color:#555;
	
	ul.articulos {
		display:none;
	}
	
	a {
		color:#555;
		&:hover {
			text-decoration:none;
		}
	}

	li {
		margin:0;
		padding:0;
		list-style:none;
		ul {
			margin:0;
			padding:0;
			li {
				list-style:none;
			}
		}
	}
	a.capitulo-lista {
		text-transform:uppercase;
		font-size:1.3rem;
		padding-bottom:3px;
		margin:12px 0 3px;
		border-bottom:1px solid #ccc;
		display:block;
	}
}


.c80_p {
	cursor:pointer;
}