
html {
	scroll-behavior: smooth;
	//scroll-snap-type: mandatory;
	//scroll-snap-points-y: repeat(100vh);
	//scroll-snap-type: y mandatory;
}

@import "timeline/TL.Timeline.less";

@media (min-width: @screen-md) {

	.contenedor-timeline article.page {

		.make-md-column(12)

	}

}

#main-timeline {
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
	
	&:before {
		//background: linear-gradient(to bottom,rgba(233,49,59,.9) 0,  rgba(233,49,59,0.6) 10%, rgba(66,79,99,.8) 75%, rgba(66,79,99,1) 97%);
		//background: linear-gradient(to bottom,rgba(199,36,36,.4) 0,  rgba(199,36,36,0.8) 10%, rgba(66,85,148,.8) 75%, rgba(66,85,148,.8) 100%);
		background: linear-gradient(to bottom, rgba(75, 88, 139, 0.7) 1%, rgba(199, 36, 36, 0.8) 20%, rgba(66, 85, 148, 0.8) 75%, rgba(16, 112, 119, 0.8) 100%);
		position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			content: '';
			z-index: 10;
	}

	.timeline-presentation {
		height: 100vh;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;

		&:before {
			// background: rgb(2,0,36);
			// background: -webkit-linear-gradient(right, rgba(2,0,36,0) 0%, rgba(66,79,99,1) 80%);
			// background: -o-linear-gradient(right, rgba(2,0,36,0) 0%, rgba(66,79,99,1) 80%);
			// background: linear-gradient(to left, rgba(2,0,36,0) 0%, rgba(66,79,99,1) 80%);
			background-color: rgba(0, 0, 0, 0.3);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			content: '';
			z-index: 10;
		}

		.content-wrap {
			display: flex;
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			z-index: 20;
			align-items: center;
			justify-content: flex-start;
			padding: 64px;

			@media screen and (max-width: @screen-md) {
				padding: 0 12px 12px 12px;
			}
		}

		.intro-stuff {
			display: flex;
			margin-top: -60px;
		}

		.text-header {
			padding: 0 24px 0 0;
			h1 {
				border-top: 1px solid white;
				border-bottom: 1px solid white;
				padding: 12px 0;
				margin-bottom: 24px;
				margin-top: 8px;
				font-weight: bold;
				color: white;
				line-height: 1.3em;
			}

			@media screen and (max-width: @screen-sm) {
				padding: 0;
				h1 {
					font-size: 28px;
					border-top: 0;
					margin-bottom: 12px;
					margin-top: 0;
					padding-top: 0;
				}
			}
		}

		.text-content {
			color: white;
			max-width: 660px;
			font-family: @sans;
			font-size: 17px;
			

			p.aligncenter {
				text-align: center;
				margin: 24px 0;
			}

			@media screen and (max-width: @screen-sm) {
				font-size: 15px;
			}


		}		
	}

}

.intro-indicator {
	position: absolute;
	bottom: 80px;
	z-index: 100;
	text-align: center;
	width: 100%;   
		.intro-arrow {
		display: block;
	    color: white;
	    margin: 0 auto;
	    max-width:160px;
	    height: 160px;
	    opacity: 0.6;

	    i {
	    	font-size: 100px;
	    	line-height: 90px;
	    }

		p {
			font-size: 16px;
		} 
 
	    &:hover {
	    	margin-top: 12px;
	    	height: 150px;
	    	text-decoration: none;
	    	opacity: 1;
	    }
	    
	}
}

@media screen and (max-width: @screen-sm) {
	.intro-indicator {
		//display: none;
		bottom: 50px;
		i {
			line-height: 70px;
		}
		p {
			margin-bottom: 0;
		}
		.intro-arrow {
			opacity: .8;
			height: 120px;
		}
	}
}

.fases-nav-home {
	color: white;
	position: fixed;
	background-color: rgba(247, 247, 247, 1);
	border: 0;
	bottom: 0;
	z-index: 20;
	width: 100%;
	text-align: center;
	border-radius: 0;
	margin: 0;
	
	.fase-arrow.active a {
		text-decoration: none;
		color: white;
		background-color: #797979;
	}

	.fase-arrow.nav-item-home {
		width: 160px;
	}

	.nav-item-home a {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 36px;
	}

	.fase-arrow.running a {
		background-color: #797979;
		color: white;
	}

	a {
		display: block;
		color: #333;
		padding: 16px 0;
		transition: all ease-in 0.3s;
		&:hover {
			text-decoration: none;
			background-color: white;
		}
	}

	h1 {
		font-size: 22px;
		font-weight: bold;
		margin: 0;
	}

	h2 {
		font-size: 16px;
		font-weight: normal;
		margin: 0;
	}

	img {
		margin: 12px 0;
	}

	#nav-fase_2, #nav-fase_4 {
		border-right: 1px solid #333;
		border-left: 1px solid #333;
	}

}

#inside-timeline-nav {
	a {
		border-top: 1px solid #D9D9D9
	}

	a:hover, li.fase-arrow.running a {
		border-top: 1px solid #797979;
	}
}

.fases-main {
	display: flex;

	.fase-arrow {
		width: 25%;
		flex-grow: 1;
	}
}

.btn-enter-timeline {
	padding: 6px 36px;
	color: white;
	border: none;
	border-radius: 0;
	font-size: 22px;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.7);
	color: #000;
	transition: background linear 0.2s;

	&:hover {
		color: #333;
		background-color: white;
	}
}

.presentacion-fase.hidden {
	display: none;
}

.presentacion-fase {
	height: 70vh;
	text-align: left;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	
	.show-timeline-zone {
		position: absolute;
		right: 12px;
		top: 27vh;
		font-size: 48px;
		cursor: pointer;
		a {
			color: white;
		}
	}

	.content-wrap {
		display: flex;
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 20;
		align-items: center;
		justify-content: flex-start;
		padding: 0 64px 64px 64px;
		color: white;
		//text-shadow: 0 2px 3px #333;

		h3 {
			font-size: 42px;
			margin: 0;
		}

		.fase-intro {
			max-width: 820px;
			margin: 24px 0;
			font-size: 17px;
			font-family: @sans;
		}
	}

	&:before {
		//background: rgb(2,0,36);
		//background: linear-gradient(to bottom, rgba(65, 78, 98, .8) 0%, rgba(233,49,59,1) 86%);
		background-color: rgba(0, 0, 0, 0.2);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		content: '';
		z-index: 10;
	}

	.gotophase {
		position: absolute;
		height: 100vh;
		right: 0;
		width: 300px;
		background-color: rgba(255, 255, 255, 0.4);
		transition: all ease-in 0.3s;
		z-index:20;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		color: white;
		cursor: pointer;

		i {
			font-size: 174px;
		}

		p {
			font-size: 16px;
			text-transform: lowercase;
		}

		&:hover, &:focus {
			text-decoration: none;
			background-color: rgba(255, 255, 255, 0.45);
			i {
				margin-left: 12px;
			}
		}
	}
}

.presentacion-fase .text-content {
	max-width: 820px;
}

.navegador-fases {
	height: 30vh;
	display: flex;
	padding: 24px;
	.navegador-fase-item {
		position: relative;
		height: 200px;
		padding: 0;
		width: 25%;
		a {
			display: block;

		}
		h3 {
			position: absolute;
			bottom: 0;
			background-color: #e6e6e6;
			color: white;
			font-size: 14px;
			font-weight: bold;
			text-align: center;
			padding: 6px 0;
			width: 100%;
			font-family: @serif;
			margin: 0;
			transition: all linear 0.15s;
		}
	}

	.navegador-fase-item.active,
	.navegador-fase-item a:hover,
	.navegador-fase-item:hover
	{

		h3,
		a h3 {
			background-color: #666666;
		}
		.yearscale:before {
			border-color: #666;
			color: #666;
		}

		.yearscale, .middleyear {
			color: #666;
		}

		.yearscale .yearmarkers span {
			border-color: #666;
			color: #666;
		}
	}
}

.yearscale {
	a {
		display: block;
	}

	.yearmarkers {
		display: flex;
		span {
			display: inline-block;
			height: 100px;
			width: 1px;
			margin: 40px 2px 30px 2px;
			border-right: 1px solid #eee;
			flex-grow: 1;
			transition: all linear 0.15s;
		}
	}
	&:before {
		content: '';
		display: block;
		width: 100%;
		margin: 0 auto;
		height:200px;
		position: absolute;
		border-left: 3px solid #eee;
		border-right: 3px solid #eee;
		transition: all linear 0.15s;
	}
	.startyear,
	.endyear {
		display: inline-block;
		transform: rotate(-90deg);
		position: absolute;
		font-weight: bold;
		top: 70px;
		background-color: #f5f5f5;
		font-size: 20px;
		font-weight: normal;
		color: #666;
		padding: 0 5px;
		transition: all linear 0.15s;
	}

	.startyear {
		left: -27px;
	}

	.endyear {
		right: -25px;
	}

	.middleyears {
		width: 100%;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 100%;
		top: -14px;

		span.middleyear {
			display: inline-block;
			padding: 2px;
			background-color: #f5f5f5;
			height: 20px;
			color: #eee;
			transition: all linear 0.15s;
		}
	}
}

.navegador-fase-item.fase_3 .yearscale .endyear {
	right: -26px;
}

.navegador-fase-item.fase_2 .yearscale:before {
	border-right: none;
}
//rgb(233, 49, 59)

#main-timeline {
	.presentacion-fase {
		position: relative;
		height: 100vh;
	}
}

.fixedtoplogo {
	position: fixed;
	top: 24px;
	left: 64px;
	z-index: 3000;
	transition: all ease-in 0.5s;
	img {
		max-width: 80px;
		transition: all ease-in 0.5s;
	}
}

.timeline-on .fixedtoplogo {
	top: 12px;
	left: 12px;
	img {
		max-width: 60px;
	}
}

.c80-timeline-insert {
	height: 70vh;
}

.sharer-timeline {
	.sharebutton {
		display: inline-block;
		text-align: center;
		padding: 6px;
	}

	a {
		color: white;
		font-size: 24px;
	}
}

.scrollind {
	color: #999999;
	padding: 6px 0 6px 48px;
	background-image: url(../img/tl/scroll_down.svg);
	background-repeat: no-repeat;
	background-position: center left;
	font-size: 13px;
	max-width: 160px;
}

#timeline-active {
	top: -100vh;
	opacity: 0;
	transition: all ease-in .5s;
	position: fixed;

	@media screen and (max-width: @screen-sm) {
		top: 0;
		right: -100vw;
		padding-top: 50px;
	}

	#timeline-js-container {
		height: 90vh;

		@media screen and(max-width: @screen-sm) {
			height: 92vh;
		}
		
		.tl-caption, .tl-credit {
			width: auto;
			text-align: left;
		}

		.tl-caption {
			color: white;
			font-size: 12px;
			line-height: 1.2em;
		}
		.tl-credit {
			//text-transform: uppercase;
			opacity: .7;
			margin: 12px 0 0 0;
			display: inline-block;
			font-style: italic;
			font-size: 12px;
			color: #000;
			a.tl-makelink {
				color: #000;
			}
			&:before {
				content: 'créditos: ';
			}
		}

		.tl-altcredit, .tl-altcredit a {
			//text-transform: uppercase;
			opacity: .7;
			font-style: italic;
			font-size: 12px;
			color: #000;
		}

		.tl-altcredit {
			display: inline-block;
			margin-left: 6px;
			padding-left: 4px;
			border-left: 1px solid #000;
			line-height: 9px;
			&:before {
				content: 'créditos: ';
			}
		}
	}
}

body.timeline-on {
	overflow: hidden;

	#timeline-active {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100vh;
		background-color: #797979;
		z-index: 2000;
		opacity: 1;

		@media screen and (max-width: @screen-sm) {
			top: 0;
			right: 0;
		}

		div.loadingZone {
			font-size: 36px;
			text-align: center;
			width: 100%;
			padding: 120px;
			color: #333;
			font-style: normal;
			i {
				font-style: normal !important; 
			}
		}

		.tl-timenav .tl-attribution {
			display: none;
		}
	}	
}

#timeline-js-container .btn-nextphase {
	padding: 6px 12px;
	border: 2px solid #333;
	font-size: 14px;
	margin: 0;
	cursor: pointer;
	color: #333;
	text-decoration: none;
	position:absolute;
	top: 0;
	height: 100%;
	width: 90px;
	right: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	background-color: #333;
	z-index: 10;
	i {
		font-style: normal !important;
		color: white;
		font-size: 72px;
		vertical-align: text-bottom;
	}
}

@media screen and (max-width: @screen-md) {
	
	.c80-timeline-insert,
	.presentacion-fase
	{
		height: 80vh;
	}

	.presentacion-fase {
		.content-wrap {
			.fase-intro {
				max-height: 70vh;
				font-size: 15px;
				overflow: hidden;
			}
		}
	}

	.timeline-nav-mobile {
		position: absolute;
		top: 1px;
		left: 46px;
		height: 48px;
		width: 48px;
		background-color: transparent;
		color: white;
		padding: 3px 6px 6px 6px;
		z-index: 200;
		text-align: center;
		font-size: 24px;
		.navwrap {
			display: flex;
			justify-content: space-between;
			img {
				max-height: 40px;
				height: auto;
			}
			a {
				color: white;
			}
		}
	}

	.fixedtoplogo {
		top: 24px;
		left: 24px;
	}

	.fases-nav-home {
		margin: 0;
		opacity: 0;
		height: 100%;
		left: -240px;
		width: 240px;
		transition: all ease-in 0.2s;
		.fase-arrow {
			width: 100%;
		}
		&.in-timeline {
			a {
				color: #333;
			}
		}
		.fases-main {
			display: block;
			
			.fase-arrow.nav-item-home {
				width: 100%;
				i {
					font-size: 24px;
				}
			}

			.fase-arrow {
				border-bottom: 1px solid #ccc;
				h1 {
					font-size: 16px;
					font-weight: normal;
					.hyphen {
						display: inline-block;
						line-height: 1em;
					}

				}
				h2 {
					margin: 6px 0;
					font-size: 14px;
				}
				img {
					margin: 12px 0;
				}
			}
		}
	}

	.fases-nav-home.active {
		display: block;
		left: 0;
		opacity: 1;
		z-index: 5000;
	}

	#main-timeline {
		.timeline-presentation {
			.intro-stuff {
				display: block;
			}


		}

		.presentacion-fase {
			.gotophase {
				display: none;
			}

			.header-presentacion-fase {
				display: flex;
				align-items: center;
				.gotophase-mobile {
					display: block;
					color: white;
					//background-color: rgba(255, 255, 255, 0.5);
					padding: 6px 24px;
					font-size: 72px;
					line-height: 72px;
					margin-left: 24px;
				}
			}

			.content-wrap {
				padding: 12px;
				h2 {
					font-size: 18px;
					margin-top: 0;
				}
				h3 {
					font-size: 24px;
				}
			}
		}
		
	}

	#timeline-js-container .btn-nextphase {
		height: 36px;
		width: 40px;
		i {
			font-size: 12px;
		}
	}
}

@media screen and (max-width: @screen-sm) {
	.tl-menubar {
		display: none;
	}

	.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content {
		display: none;
	}
}

.timeline-on .timeline-mobile-header {
	background-color: transparent;

	div.mobile-interaction {
		display: block;	
	}
}

.timeline-mobile-header {
	height: 50px;
	max-height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	transition: all ease-in 0.3s;
	width: 100%;
	z-index: 5000;
	background-color: rgba(0, 0, 0, 0.5);

	img {
		max-height: 30px;
		width: auto;
		margin: 6px 0 0 6px;
	}

	&.shownext {
		background-color: #333;
	}

	div.mobile-interaction {
		position: absolute;
		right: 6px;
		top: 6px;
		color: white;
		font-size: 24px;
		padding: 4px;
		display: none;
		a {
			color: white;
			span.msg {
				font-size: 14px;
				line-height: 24px;
				vertical-align: middle;
				text-transform: lowercase;
			}
			i {
				vertical-align: middle;
				line-height: 24px;
			}
		}
	}

	div.mobiledatecontainer {
		position: absolute;
		left: 70px;
		top: 6px;
		width: 250px;
		h3, h3 small {
			color: white;
			font-size: 14px;
			text-align: center;
			margin: 0;
		}
	}
}