//Layout Home
#main {
	.contenedor-home {
		margin-top:32px;
		
		@media screen and (max-width:@screen-sm) {
			margin-top:0;
		}

		.make-row();
		
		.featured-section {
			.make-row();
			margin:0;
				article.featured {
					.make-md-column(7);
					padding-right:0;
					@media screen and (max-width:@screen-sm) {
						padding-left:0;
					}
				}
				div.related-featured {
					.make-md-column(5);
					@media screen and (min-width:@screen-md) {
						margin-left:-15px;	
					}
					
				}
		}
		
		section.noticias {
			.make-md-column(8);
				> div.rm {
					.make-row();
						article.item-1,
						article.item-2,
						article.item-3,
						article.item-4,
						article.item-5,
						article.item-6,
						 {
							.make-md-column(6);
						}

						//nueva fila
						article.item-3,
						article.item-5 {
							clear:left;
						}
					}
		}

	}
}

//Estilo artículo home

section.noticias article,
article.featured
 {
	margin-bottom:16px;
	.img img {
		width:100%;
	}
	> div.pad {
		box-shadow:@stdshadow;
		background-color:white;		
	}

	div.top-info {
		padding:12px 12px 0 12px;
	}

	h1, h2 {
		margin:0;
		padding:0;
		a {
			color:@oscuro;
			font-weight:700;
			&:hover {
				text-decoration:none;
			}
		}
	}

	h2 {
		font-size:2.5rem;
		margin-bottom:6px;
	}

	.excerpt {
		padding:@stdpad;
		font-family:@serif;
		font-size:1.8rem;
		font-weight:400;
	}
}


//Estilo noticia destacada

article.featured {

	.pad {
		height:369px;
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;
		box-shadow:none;
		@media screen and (max-width:@screen-md) {
			height:auto;
			min-height:370px;
		}
	}

	.pad div.overlay {
		position: absolute;
		border-top:10px solid @calipso;
		top:0;
		left: 16px;
		width: 666px;
		height: 370px;
		z-index:1;
		background-color:rgba(0,0,0,0.5);
		padding:12px;
		@media screen and (max-width:@screen-sm) {
			position:static;
			width:100%;
			min-height:100%;
			top:0;
			left:0;
		}
	}

	div.top-info {
		padding: 0 12px;
		.over-title {
			color:white;
		}
	}

	div.excerpt {
		color:white;
		font-size:2rem;
		//text-shadow:1px 1px 1px #333;
		@media screen and (max-width:@screen-sm) {
			font-size:1.5rem;
		}
	}

	h1 {
		font-size:2.4rem;
		font-family:@serif;
		font-weight:700;
		a {
			color:white;
			//text-shadow:1px 1px 1px #333;
		}
		@media screen and (max-width:@screen-sm) {
			font-size:2.2rem;
		}
	}
	
}

.related-featured {
	background-color:white;
	height:369px;
	overflow:scroll;
	float:left;
	border-top:10px solid @naranjo;
	@media screen and (max-width:@screen-sm) {
		height:auto;
		margin:0 15px 12px 15px;
	}
	
	aside.c80-rels-front {
		padding:@stdpad;
		h2 {
			color:@naranjo;
			font-size:1.8rem;
			margin-top:0;
			font-family:sans-serif;
		}
	}

	h4 {
		color:@azulvega;
		font-family:@heading;
		span {
			text-transform:uppercase;
			font-size:1.4rem;
		}
	}
	

	div.frontp {
		h6 {
			margin-top:0;
		}
		.bg-warning;
		padding:6px;
		margin-bottom:6px;
		font-family:@serif;
	}
}

section.opinion article {
	padding:@stdpad;
	margin-bottom:16px;
}

p.categoria,
p.fecha {
	font-size:18px;
	font-weight:700;
	font-family:@sans;
	margin-bottom:0;
	a {
		color:#666666;
	}
}

div.top-meta {
	padding:@stdpad;
	position: relative;
	p.related a 
	{
		position: absolute;
		right:6px;
		top:12px;
		padding:6px;
		font-size:24px;
		width:48px;
		height:48px;
		text-align:center;
		background-color:#f5f5f5;
		border-radius:50%;
		border:2px solid #337ab7;
	}
}

div.bottom-meta {
	font-family:@sans;
	padding:@stdpad;
}

p.temas {
	display:flex;
	
	a {
		display:inline-block;
		padding:3px 6px;
		background-color:white;
		border-width:1px 0 1px 1px;
		border-style:solid;
		border-color:@calipso;
		color:@calipso;
		font-size:1.3rem;
		border-radius:0;
		margin-bottom:0;
		line-height:20px;
		
		&.tagp-last {
			border-radius:0 5px 5px 0;
			border-right-width: 1px;
		}
		&:hover {
			text-decoration:none;
			background-color:@calipso;
			color:white;
		}
	}
}

p.temas {
	@media screen and (max-width:@screen-sm) {
		display:block;

		a {
			border-radius:5px;
			margin-bottom:5px;
			&.tagp-last {
				border-radius:5px;
			}
		}
	}
}

//Estilo artículo principal

// section.noticias article.item-1 {
// 	div.img {
// 		position:relative;
// 		border-top:10px solid @azulvega;
// 		.top-info {
// 			position: absolute;
// 			bottom:0;
// 			padding-left:18px;
// 			color:white;
// 			text-shadow:1px 1px 3px #000;
// 			a {
// 				color:white;
// 			}
// 			h1 {
// 				padding:0;
// 				margin:0 0 12px 0;
// 			}
// 		}
// 	}
// }

section.noticias {
	article.item-1,
	article.item-2,
	article.item-3,
	article.item-4,
	article.item-5,
	article.item-6 {
		.img {
			border-top:10px solid @azulvega;	
		}
		.excerpt {
			font-size:1.6rem;
		}
		.date {
			color:@oscuro;
			display:block;
			font-size:1.2rem;
			font-family:@serif;
		}

}
}

//Estilo columna de columnas

section.opinion {
	header {
		h2 {
			margin:0;
			font-size:2rem;
			font-family:@serif;
		}
	}

	.excerpt {
		font-size:1.6rem;
		font-family:@serif;
	}

	article.columna {

		.top-meta {
			font-family:@sans;
			font-weight:700;
			padding:0;
			
			p {
				margin-bottom:0;
			}
		}

		h3 {
			margin-bottom:0;
			margin-top:0;
			font-family:@heading;
			font-weight:700;
				a {
					color:@oscuro;
				}
			}

		.bottom-meta {
			background-color:white;
			padding:6px 0;
			margin-top:12px;
			overflow:hidden;
			p {
				
				margin-bottom:0;
			}
		}

		div.avatar {
			width:70px;
			height:70px;
			overflow: hidden;
			border-radius:35px;
			float:left;
			margin-right:12px;
		}
	}
}

