//header related rules

header#header-sitio {
	background-color:@azul-footer;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:cover;
	font-family:'Open Sans', sans-serif;
	
	.row {
		position: relative;
	}

	h1 {
		float:left;
		margin-right:12px;
		width:70px;
		height:80px;
		margin:0 12px 12px 0;
	}
	h2 {
		font-weight:400;
		float:left;
		color:white;
		max-width:600px;
		margin-top:26px;
		font-size:2.2rem;
	}
	.navegacion-principal {
	.navbar;
	.navbar-inverse;
		background-color:#106696;
		margin-bottom:0;
		border:0;
		.c80-dropdown {
			color:@gris-claro;
			background-color:@gris-oscuro;
			display:block;
			float:right;
			width:400px;
			&:hover {
				background-color:@gris-inactivo;
				
			}
		}
	}

	
	.navegacion-texto {
		background-color:@gris-claro;
		.c80-nav {
			.make-row();
			.zmargx();
			.separador-tipo-indice {
				background-color:@gris-claro;
				.make-md-column(3);
				.zpadx();
				ul {
					.navul();
					li {
						
						a {
							color:@gris-inactivo;
							text-transform:uppercase;
							padding:12px 24px;
							display:block;
							background-color:@gris-claro;
							font-family: @sans;
							font-weight: 700;
							font-size:1.3rem;
							&:hover, &.active {
								color:white;
								text-decoration: none;
								background-color:@gris-oscuro;
							}
						}
					}
				}
			}
			.visor-textos,
			.visor-capitulos,
			.visor-temas {
				background-color:@gris-oscuro;
				.make-md-column(9);
				.zpadx();
			}


		}
	}

	.temas-header {
		background-color:@calipso;
		ul {
			padding: 0;
			margin: 0;
			li {
				list-style:none;
				margin: 0;
				padding: 0;
				a {
					color:#333;
					text-transform:uppercase;
					display: block;
					padding: 6px;
					float: left;
				}
			}
		}
	}

	.breadcrumb {
		color:lighten(#555, 35%);
		border-radius:0;
		font-size:12px;
		margin-bottom:0;
		a {
			color:lighten(#555,35%);
		}
	}
}

div.menu-secciones {
	float:right;
	height:32px;
	ul {
		margin:0;
		padding:0;
		li {
			margin:0;
			padding:0;
			list-style:none;
			display:inline;
			a {
				display:block;
				color:white;
				text-transform:uppercase;
				line-height:36px;
				padding:0 12px;
				color:white;
				float:right;
				font-weight:bold;
				&:hover {
					text-decoration:none;
					background-color:@amarillo;
				}
			}
			&.link-opinion a {
				background-color:@morado;
			}
			&.link-constitucion a {
				background-color:@naranjo;
			}
			&.link-noticias a {
				background-color:@azulvega;
			}
		}
	}
}

@topnav: 18px;

// .admin-bar {
// 	#main-nav {
// 		top:@topnav + 32px;
// 	}
// }

#main-nav {
	position: absolute;
	right:0;
	top:@topnav;
	li:nth-child(odd) {
		border-right:1px solid white;	
	}

	a {
		color:white;
		font-weight:bold;
		font-family:@sans;
		font-size:1.8rem;
		&:hover {
			background-color:transparent;
		}
	}
}

