//main less file
@import 'bootstrap/less/bootstrap.less';
@import 'wpcore.less';
@import 'mailchimp.less';
@import 'c80-variables.less';
@import 'c80-header.less';
@import 'c80-comments.less';
@import 'c80-cargador.less';
@import 'c80-single.less';
@import 'c80-single-columnas.less';
@import 'c80-constitucion.less';
@import 'c80-asides.less';
@import 'c80-archive.less';
@import 'c80-fonts.less';
@import 'c80-sharer.less';
@import 'c80-home.less';
@import 'c80-responsive.less';
@import 'c80-rels.less';
@import 'footer.less';

body {
	background-color:@gris-encabezado;
}

body.admin-bar {
	#wpadminbar {
		//display:none;
	}
}

.contenedor-estandar a:hover,
.contenedor-home a:hover {
  text-decoration:none;
  border-bottom-style:dashed;
  border-bottom-width:1px;
}

h1, h2, h3
 {
	font-family:@heading;
	font-weight:400;
}

.afterp {
	display:none;
		}

//Layout
#main {

	// .grupo-articulo {
	// 	.clearfix();
	// 	.make-row();
	// }

	// .contenedor-estandar {
		
	// 	.make-row();
	// 	.navegador-capitulos
	// 	 {
	// 		.make-md-column(3);
	// 	}

	// 	.navegador-c80 {
	// 		.make-md-column(2);
	// 	}

	// 	.articulo-constitucion {
	// 		.make-md-column(7);
	// 	}

	// 	.capitulo-constitucion {
	// 		.make-md-column(9);
	// 		.articulos-capitulo {
	// 			.make-row();
	// 			.articulo-constitucion {
	// 				.make-md-column(9);	
	// 			}
	// 			.navegador-relacionados {
	// 				.make-md-column(3);
	// 			}
	// 		}
	// 	}
	// }
}

//Layout Constitución completa
#main {
	// .row-constitucion {
	// 	.make-row();
	// 	.navegador-c80 {
	// 		.make-md-column(2);
	// 		padding:0;
	// 	}
	// 	.contenedor-constitucion {
	// 		.make-md-column(10);
			
	// 	}
	// 	.capitulo-constitucion {
	// 		.make-md-column(12);
	// 		padding:0;
	// 		.articulo-constitucion {
	// 			.make-md-column(9);
				
						
	// 		}
	// 	}
	// 	.navegador-relacionados {
	// 		.make-md-column(3);
	// 	}
	// }
}






aside.standard {
	.make-md-column(3);
	
	transition:all ease-in 0.5s;
	
	h2 {
		font-size:1.6rem;
		margin:0;
		padding:12px 12px 0;
	}
	ul {
		margin:0;
		padding:0;
	}

	div {
		background-color:white;
		box-shadow:@stdshadow;	
		padding-bottom:12px;
	}
	
	.aside-item {
		padding:0;
		list-style:none;
		
		a {
			display:block;
			padding:@stdpad @stdpad 0;	
		}

		a:hover {
			text-decoration:none;	
		}
		
		p.fecha {
			font-weight:normal;
			font-size:1.3rem;
			color:#333;	
		}

		p.author {
			margin-bottom:0;
		}

		h3 {
			margin:0;
			font-size:1.6rem;
		}
	}
}

aside.disp {
	display:none;
}

#mc_embed_signup {
	margin-top:24px;
	font-family:@sans;
	font-size:1.6rem;
	padding:0;
	border-top:1px solid fade(@azulvega, 20%);
	form {
		padding:0;
		input {
			max-width:300px;
			color:#333;
		}
	}

	h2 {
		font-family:@sans;
		font-weight:normal;
		font-size:1.6rem;
	}
}

.avatar > .alignnone {
	margin:0;
}
