@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
div.relbox p.hrel {
  font-weight: normal;
  display: flex;
}
div.relbox a.relart {
  display: inline-block;
  padding: 3px 6px;
  font-size: 12px;
  background-color: white;
  color: #f4033c;
  border-color: #f4033c;
  border-width: 1px 0 1px 1px;
  font-family: 'Merriweather', serif;
  border-style: solid;
  border-radius: 0;
  line-height: 20px;
}
div.relbox a.relart.relart-last {
  border-radius: 0 4px 4px 0;
  border-right-width: 1px;
}
div.relbox a.relart:hover {
  text-decoration: none;
  background-color: #f4033c;
  color: white;
}
span.nrel {
  display: inline-block;
  padding: 3px 6px;
  background-color: #f0f0f0;
  margin-right: 0;
  font-size: 1.4rem;
}
.hrel span.nrel {
  margin-right: 0;
}
p.temas {
  display: flex;
}
p.temas a {
  display: inline-block;
  padding: 3px 6px;
  background-color: white;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #18A094;
  color: #18A094;
  font-size: 1.3rem;
  border-radius: 0;
  margin-bottom: 0;
  line-height: 20px;
}
p.temas a.tagp-last {
  border-radius: 0 5px 5px 0;
  border-right-width: 1px;
}
p.temas a:hover {
  text-decoration: none;
  background-color: #18A094;
  color: white;
}
@media screen and (max-width: 768px) {
  p.temas {
    display: block;
  }
  p.temas a {
    border-radius: 5px;
    margin-bottom: 5px;
    border-width: 1px;
  }
  p.temas a.tagp-0 {
    margin-left: 5px;
  }
  p.temas a.tagp-last {
    border-radius: 5px;
  }
}
@media screen and (min-width: 992px) {
  .in-img-meta p.temas a {
    border-width: 0 0 0 1px;
  }
  .in-img-meta div.relbox a.relart {
    border-width: 0 0 0 1px;
  }
}
.wp-embed {
  padding: 0;
}
.wp-embed-footer {
  background-color: #094671;
  padding: 8px 5px;
  border-top: 5px solid #25A8CE;
}
.wp-embed-heading a {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  color: #02476E;
  font-size: 26px;
}
.wp-embed-heading,
.wp-embed-excerpt {
  padding: 12px 12px 0 12px;
}
body.single-c80_cpt .wp-embed-heading {
  margin-bottom: 0;
  padding-bottom: 0;
}
body.single-c80_cpt .wp-embed-excerpt {
  padding-top: 0;
}
p.c80-embedcap {
  font-family: serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Oswald', sans-serif;
  color: #9a3f0c;
}
.wp-embed-footer a,
.wp-embed-footer a .dashicons {
  color: white;
}
.embed-footer-title {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: white;
  font-weight: normal;
}
.embed-footer-title img {
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 12px;
}
.wp-embed-comments {
  display: none;
}
.wp-embed-meta {
  padding-right: 12px;
}
.wp-embed-meta button {
  color: white;
  font-size: 16px;
}
.wp-embed-site-title a {
  padding-left: 12px;
}
div.relbox {
  padding: 12px 0 0 12px;
}
div.embed-c80 {
  font-family: serif;
  font-size: 16px;
  max-height: 200px;
  overflow: scroll;
}
div.embed-c80 a:hover {
  text-decoration: none;
}
